<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.mapper.AiChatSessionMapper">

    <select id="listByUserId" resultType="com.campus.entity.AiChatSession">
        select * from ai_chat_session where user_id = #{userId} and is_deleted = 0 order by last_active_time desc
    </select>

    <insert id="insert">
        insert into ai_chat_session(user_id, title, create_time) values(#{userId}, #{title}, #{createTime})
    </insert>

    <select id="queryAdminList" resultType="com.campus.entity.AiChatSession">
        select s.*, u.nickname as userName, u.phone as userPhone from ai_chat_session s
        left join user u on s.user_id = u.user_id
        <where>
            s.is_deleted = 0
            <if test="userId != null">
                and s.user_id = #{userId}
            </if>
        </where>
        order by s.last_active_time desc
    </select>

    <select id="getById" resultType="com.campus.entity.AiChatSession">
        select * from ai_chat_session where session_id = #{sessionId}
    </select>

    <select id="countTotal" resultType="java.lang.Long">
        select count(*) from ai_chat_session where is_deleted = 0
    </select>

    <select id="countActiveUsersToday" resultType="java.lang.Long">
        select count(distinct user_id) from ai_chat_session
        where date(last_active_time) = curdate() and is_deleted = 0
    </select>

</mapper>
