<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.mapper.SystemConfigMapper">

    <select id="listByCategory" resultType="com.campus.entity.SystemConfig">
        select * from system_config
        <where>
            <if test="category != null and category != ''">and category = #{category}</if>
        </where>
        order by config_id
    </select>

    <select id="getByKey" resultType="com.campus.entity.SystemConfig">
        select * from system_config where config_key = #{configKey}
    </select>

    <insert id="insert">
        insert into system_config(config_key, config_value, description, category, create_time, update_time)
        values(#{configKey}, #{configValue}, #{description}, #{category}, now(), now())
    </insert>

    <update id="update">
        update system_config
        set config_value = #{configValue},
            description = #{description},
            update_time = now()
        where config_id = #{configId}
    </update>

    <delete id="deleteById">
        delete from system_config where config_id = #{configId}
    </delete>

</mapper>
